# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
uploads/
*.pkl
*.gguf

# Environment variables
.env
.env.local
.gitignore

#Data
schemes_data.csv
precomputed_documents.json
precomputed_rules.json

# Logs
FLOW.md
SETUP.md